*{
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style-type: none;
}
h1{
    font-size: 26px;
}
h2{
    font-size: 1em;
}
h3{
    font-size: 1.2em;
}
p,a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
body{
    margin: 0 ;
    min-height: 100vh;
    max-width: 100dvw;
    overflow-x: hidden;
}
nav{
    background-color: #333;
    width: 100%;
}
.menu .toggle_btn{
    color: white;
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    display: none;
    transition: height 0.3s ease;
}
.dropdown_menu.open{
    height: 220px;
    z-index: 3;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ol{
    display: flex;
    gap: 2rem;
    justify-content: end;
    margin: 0 auto;
    align-items: center;
    padding-right: 40px;
    max-width: inherit;
}
.menu li a{
    font-size: 1.1rem;
}
.menu li a:hover{
    color: rgba(255, 0, 0, 1);
    transition-duration: 500ms;
}
.menu li{
    max-width: 1200px;
}
.logo{
    margin-right: auto;
    position: relative;
}
.fotos_videos_banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotos_videos_banner img{
    width: 100%;
    height: auto;
}
.title{
    position: absolute;
    color: white;
    font-size: 2.5em;
    filter: drop-shadow(0px 5px 5px #5558);
}
.buttons_container{
    padding-top: 50px;
}
.year_buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
.filter_button{
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter_button p{
    font-weight: 600;
    font-size: 16px;
}
.filter_button:hover{
    background: linear-gradient(0deg, rgba(152,0,0,1) 0%, rgba(232,0,0,1) 100%); 
}
.fotos_videos_2023{
    padding-top: 50px;
    overflow: hidden;
}
.fotos_videos_container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
}
.fotos_videos_pieterzijl{
    position: relative;
    filter: drop-shadow(0px 5px 5px #5558);
}
.content_pieterzijl img{
    width: 100%;
    height: auto;
}
.content_text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 3vh;
    font-size: 28px;
    font-weight: 600;
}
.content:hover{
    color: rgb(255, 0, 0);
}
@media(max-width: 992px){
    .menu li{
        display: none;
    }

    .menu .toggle_btn, .dropdown_menu li{
        display: flex;
    }
    .dropdown_menu.open{
        display: block;
    }
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: auto;
    }
}